*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$smartphone_background : #06a;
$border : 3px solid whitesmoke;
    // Animation Loader 
.loader__container{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    pointer-events:none;
   background: radial-gradient(circle at center center, rgb(140, 100, 80), rgb(60, 40, 20));

   & .bloc__anim{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 25rem;
        height: 25rem;
        z-index: 100;

            & .contain__image{
                position: absolute;
                width: 100%;
                height: 0%;
                bottom: 0px;
                z-index: 150;
                overflow: hidden;

                & .img-flip{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position:center;
                }
                & .flip-img1{
                    background: url( ../ressources/manInBlackRed.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position:center;
                }
                & .flip {
                    width: 100%;
                    height: 100%;
                    transform: translateY(100%);
                    position: absolute;
                }
                & .bg__transition {
                    background:  rgb(19, 19, 19);
                }                
            }
            & .bloc__txt{
                position: absolute;
                bottom: -50px;
                left: -50px;
                height: 0;
                z-index: 175;
                background: whitesmoke;
                overflow: hidden;

                &.bloc__txt h2 {
                    padding: 1rem 2rem;
                    color: #222;
                    font-family: Playfair Display, serif;
                    font-size: 40px;
                    transform: translateY(100px);
                }
            }   
    }
        
}
body{
    font-family: fantasy;
    min-width: 320px;
    height: 100vh;
}
    // Nav
#navBarFixed{
    position: fixed;
    width: 100%;
    z-index: 5;
}
.nav-item {
    a  {
        color : #333!important;
        transition : transform 0.2s ease-in-out;
        &::first-letter{
            color : #c60;
        }
        &:hover {
            transform:scale(1.3);
        }
        &:hover::first-letter{
            color: rgb(140, 100, 80);
        }
    }
}
    // Parallax
.parallax__portfolio{
    background: grey;
    background-image: url(/ressources/amr-taha-6VjuO4aw19c-unsplash.jpg);
    height: 600px;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
}
    // Smartphone
.smart__hide{
    display: none!important;
}
.smart__vieuw{
    display: block;
}
.smartphone__wrapper{
    position : fixed;
    left:0;
    width:100%;
    top:0;
    bottom : 0;
    z-index : 199;
    display : flex;
    align-content : center;
    align-items:center;
    justify-content : space-around;
    // pointer-events:none;
}
    // KeyFrame SmartPhone
@keyframes anim-glow {
    0%{
        box-shadow : 0 15px 20px rgba(154, 72, 21, 0.7);
    }
    50%{
        box-shadow : 0 15px 40px rgba(154, 72, 21, 0.7);
    }
    100%{
        box-shadow : 0 15px 20px rgba(154, 72, 21, 0.7);
    }
}

.smartphone {
    width : 450px;
    height : 600px;
    max-height : calc(100% - 60px);
    border : 8px solid rgba(88, 75, 67, 0.7);
    box-shadow : 0 15px 50px rgba(194, 51, 15, 0.763);
    background-color: rgba(136, 91, 64, 0.968);;
    border-radius : 30px;
    position : relative;
    &__frame{
        height : calc(100% - 40px);
        background-color:#ccc;
        margin : 20px 0;
        border-radius : 4px;
    }
    &__close{
        border: none;
        font-family: Arial, sans-serif;
        padding: 1rem;
        right: 0;
        position: absolute;
        background-color: transparent;
        outline: none;
        cursor: pointer;
    }

    &::before{
        content:'-';
        display:flex;
        align-items:center;
        align-content:center;
        justify-content:space-around;
        top : 45%;
        left : -95px;
        width : 80px;
        height : 80px;
        border-radius:50%;
        border: 4px solid rgba(88, 75, 67, 0.7);;
        position : absolute;
        background-color: rgba(22, 22, 22, 0.25);
        animation : anim-glow 2s infinite;
        &:hover{
            border : 8px solid $smartphone_background;
        }
    }
    &::after{
        content:'+';
        display:flex;
        align-items:center;
        align-content:center;
        justify-content:space-around;
        top : 45%;
        left : 450px;
        width : 80px;
        height : 80px;
        border-radius:50%;
        border: 4px solid rgba(88, 75, 67, 0.7);;
        position : absolute;
        transition : border 0.3s ease-in-out;
        background-color: rgba(125,125,125,0.5);
        animation : anim-glow 2s infinite;
        &:hover{
            border : 8px solid $smartphone_background;
        }
    }
}
    // Card Portfolio
#cards {
    flex-wrap: wrap;
    max-width : 1200px;
    gap : 20px;
    & .card-wrapper {
        width : 45%;
        height: 400px;
        margin-bottom : 20px;
        transition: .1s ease-in-out;
        & .card{
            border: none;
            height : 100%;
            & img{
                width: 100%;
                object-fit: cover;
            }
        }
    }
    & .card-wrapper:hover{
        transform: scale(1.1);
    }
}
.card__imagePortfolio{
    position: relative;
    width: 100%;
    height: 42.4%;
    overflow: hidden;
    border-radius: .2rem;
}
.card__imagePortfolio::after{
    content: '';
    position: absolute;
    background: radial-gradient(circle at center left, rgb(140, 100, 80), rgb(60, 40, 20));
    ;
    bottom: 0;
    top: 0;
    right: 0;
    left: 50%;
    transition:  1s ease-in-out;
}
.card__imagePortfolio::before{
    content: '';
    position: absolute;
    background: radial-gradient(circle at center right, rgb(140, 100, 80), rgb(60, 40, 20));
    bottom: 0;
    top: 0;
    right: 50%;
    left: 0;
    transition:  1s ease-in-out;

}
.card-wrapper:hover .card__imagePortfolio::after
{
    opacity: 0;
    transform: translateX(100%);
}
.card-wrapper:hover .card__imagePortfolio::before
{
    opacity: 0;
    transform: translateX(-100%);
}

/* Animation résponsive */
@media screen and (max-width : 768px){
    .bloc__anim{
        width: 15rem;
    }
    .bloc__txt{
        bottom: -35px;
    }
    .bloc__txt h2{
        font-size: 20px;
    }
}
@media screen and (min-width : 500px) and (max-width : 768px){
    .bloc__anim{
        width: 20rem;
    }
    .bloc__txt{
        bottom: -35px;
    }
    .bloc__txt h2{
        font-size: 25px;
    }
}
// Accueil

#accueil{
    margin: 0 auto;
    // background-image: radial-gradient(circle at center center, rgb(213,64,39),rgb(29, 16, 5));
    background: radial-gradient(circle at center center, rgb(140, 100, 80), rgb(60, 40, 20));

}
.imgProfileAcc {
    margin: 2rem auto;
    width: 150px;
}
// About
#about{
    padding-top:20px;
    background-image: radial-gradient(circle at center center, rgb(140, 100, 80), rgb(60, 40, 20));
}
.section-contact{
    background-image: radial-gradient(circle at center center, rgb(140, 100, 80), rgb(60, 40, 20));
}
//Ma Stack

.rainbow{
    z-index: 1;
    // overflow: hidden;
    background: white;
    transition: .1s ease-in-out;
        &.rainbow:hover{
            transform: scale(1.1);
        }
    
}
.card__stack{
    position: relative;
    transition: .1s ease-in-out;
    transition: 1s scale ease-in-out;
    background-color: white;
    border-radius: 1rem;
    // box-shadow: 0 0 1px 0 rgba(0,0,0,0.25);
    transition: .2s ease-in-out;
}

.card__stack:hover::before, .card__stack:hover::after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center left, rgb(140, 100, 80), rgb(60, 40, 20));
    border-radius: 10px;
    z-index: -1;
    animation: 1s danslesens infinite;
}

.card__stack:hover::after {
    background: radial-gradient(circle at center left,  rgb(90, 70, 50),rgb(145, 119, 106));
    animation: 2s inverse infinite;
}

@keyframes danslesens {

    0% {
        top: -5px;
        left: 0px;
    }
    12% {
        top: -2px;
        left: 2px;
    }
    25% {
        top: 0px;
        left: 5px;
    }
    37% {
        top: 2px;
        left: 2px;
    }
    50% {
        top: 5px;
        left: 0px;
    }
    62% {
        top: 2px;
        left: -2px;
    }
    75% {
        top: 0px;
        left: -5px;
    }
    87% {
        top: -2px;
        left: -2px;
    }
    100% {
        top: -5px;
        left: 0px;
    }
};

@keyframes inverse {

    0% {
        top: -5px;
        left: 0px;
    }
    12% {
        top: -2px;
        left: 2px;
    }
    25% {
        top: 0px;
        left: 5px;
    }
    37% {
        top: 2px;
        left: 2px;
    }
    50% {
        top: 5px;
        left: 0px;
    }
    62% {
        top: 2px;
        left: -2px;
    }
    75% {
        top: 0px;
        left: -5px;
    }
    87% {
        top: -2px;
        left: -2px;
    }
    100% {
        top: -5px;
        left: 0px;
    }
}

.parallax__stack {
    background: grey;
    /*the image used*/
    background-image: url(/ressources/amr-taha-SMMqej67qjI-unsplash.jpg);
    /* set a specific height  */
    height: 700px;
     /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
    font-weight: 600;    
}